*.bak
*.db
*.pem
*.lock
*.rptdesign
*.key
*.log
*.2
*.1
*.3
*.0
*.taf
*.idp
*.csv
*.dbd
*.xltm
*.properties
*.touch
*.rdl
*.wsdl
*.cmd
*.mdb
*.xls
*.tlog
*.opensdf
*.zip

data/xls_report/Report.cmd
data/xls_report/Report.xls
data/WinCCOA/AbstractionLayer_Log.txt
data/opcua
db
config
log
scripts/WinCCOA/Test

