{
  "FILE_VERSION":"1.0",
  "ID":"QgOverloadedFilesCheck",
  "NAME":"Unit tests for QgOverloadedFilesCheck",
  "SUB_PROJS": [
    "sub_unit"
  ],
  # no database needed
  "PACK_SEL" : 2,
  "TEST_MANAGERS":[
    { "MANAGER_OPTIONS":"tests/libs/classes/QualityGates/QgStaticCheck/QgOverloadedFilesCheck/QgOverloadedFilesCheck.ctl -n" }
  ]
}