{
  "FILE_VERSION":"1.0",
  "ID":"QgPicturesCheck",
  "NAME":"Unit tests for QgPicturesCheck",
  "SUB_PROJS": [
    "sub_unit"
  ],
  # no database needed
  "PACK_SEL" : 2,
  "TEST_MANAGERS":[
    { "MANAGER_OPTIONS":"tests/libs/classes/QualityGates/QgStaticCheck/Pictures/PicturesDir.ctl -n" },
    { "MANAGER_OPTIONS":"tests/libs/classes/QualityGates/QgStaticCheck/Pictures/PicturesFile.ctl -n" }
  ]
}