{
  "TEST_RUNS":{
    "Regression-tests":{
      "DESCRIPTION":"All regression tests",
      "NAME":"Regression tests",
      "TEST_RUNS":[
        "Common",
        "CtrlppCheck"
# There are still too many failuers
# Need to be analyzed and fixed. You are welcome to do that ;-)
#        "QgPicturesCheck"
      ]
    },
    "Common":{
      "DESCRIPTION":"Common tests",
      "NAME":"Common tests",
      "TEST_SUITE":{
        "CONFIG":"testSuite.config",
        "ID":"suite_Common"
      }
    },
    "CtrlppCheck":{
      "DESCRIPTION":"Ctrlppcheck tests",
      "NAME":"Ctrlppcheck tests",
      "TEST_SUITE":{
        "CONFIG":"testSuite.config",
        "ID":"suite_CtrlppCheck"
      }
    },
    "QgPicturesCheck":{
      "DESCRIPTION":"QgPicturesCheck tests",
      "NAME":"QgPicturesCheck tests",
      "TEST_SUITE":{
        "CONFIG":"testSuite.config",
        "ID":"suite_QgPicturesCheck"
      }
    }
  }
}