{
  "TEST_RUNS":{
    "Regression-tests":{
      "DESCRIPTION":"All regression tests",
      "NAME":"Regression tests",
      "TEST_RUNS":[
        "Common",
        "CtrlppCheck",
        "QgPicturesCheck",
        "QgPanelsCheck",
        "QgOverloadedFilesCheck",
        "QgScriptsCheck"
      ]
    },
    "Common":{
      "DESCRIPTION":"Common tests",
      "NAME":"Common tests",
      "TEST_SUITE":{
        "CONFIG":"testSuite.config",
        "ID":"suite_Common"
      }
    },
    "CtrlppCheck":{
      "DESCRIPTION":"Ctrlppcheck tests",
      "NAME":"Ctrlppcheck tests",
      "TEST_SUITE":{
        "CONFIG":"testSuite.config",
        "ID":"suite_CtrlppCheck"
      }
    },
    "QgPicturesCheck":{
      "DESCRIPTION":"QgPicturesCheck tests",
      "NAME":"QgPicturesCheck tests",
      "TEST_SUITE":{
        "CONFIG":"testSuite.config",
        "ID":"suite_QgPicturesCheck"
      }
    },
    "QgPanelsCheck":{
      "DESCRIPTION":"QgPanelsCheck tests",
      "NAME":"QgPanelsCheck tests",
      "TEST_SUITE":{
        "CONFIG":"testSuite.config",
        "ID":"suite_QgPanelsCheck"
      }
    },
    "QgOverloadedFilesCheck":{
      "DESCRIPTION":"QgOverloadedFilesCheck tests",
      "NAME":"QgOverloadedFilesCheck tests",
      "TEST_SUITE":{
        "CONFIG":"testSuite.config",
        "ID":"suite_QgOverloadedFilesCheck"
      }
    },
    "QgScriptsCheck":{
      "DESCRIPTION":"QgScriptsCheck tests",
      "NAME":"QgScriptsCheck tests",
      "TEST_SUITE":{
        "CONFIG":"testSuite.config",
        "ID":"suite_QgScriptsCheck"
      }
    }
  }
}