{
  "FILE_VERSION":"1.0",
  "ID":"CtrlppCheck_App",
  "NAME":"Application tests for CtrlppCheck",
  "SUB_PROJS": [
    "sub_app"
  ],
  # no database needed
  "PACK_SEL" : 2,
  "TEST_MANAGERS":[
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl arraysize.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl autovar.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl badPerformanceInLoops.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl badPerformanceInLoops_inconclusive.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl checkBitwiseOnBoolean.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl checkDivideBoolean.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl checkIncrementBoolean.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl checkio.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl checkReturnValueOfFunction.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl checkUninitVar.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl checkVaarg.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl demo.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl emptyScope.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl ruletest.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl shadowVar.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl suspiciousSemicolon.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl testlibraryFucntionArgCount.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl testUndeclaredVariable.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl unkownEvaluationOrder.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl unreadVariable.ctl -n" },
# this test still fails, you are welcome to fix it
#    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl variableNaming.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl vector.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl y2038.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl ISO88591.ctl -n" },
    # ToyotaITC
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl ToyotaITC/01.w_Defects/bit_shift.ctl -n" },
    # syntax check
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl syntaxErrors/missingBracket_01.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl syntaxErrors/missingBracket_02.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl syntaxErrors/missingBracket_03.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl syntaxErrors/missingBracket_04.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl syntaxErrors/missingBracket_05.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl syntaxErrors/missingBracket_06.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl syntaxErrors/missingBracket_07.ctl -n" },
    { "MANAGER_OPTIONS":"QgCtrlppcheckTests.ctl syntaxErrors/missingBracket_08.ctl -n" }
  ]
}
