{
  "FILE_VERSION":"1.0",
  "ID":"Common_Unit",
  "NAME":"Unit tests for common ctrl code",
  "SUB_PROJS": [
    "sub_unit"
  ],
  # no database needed
  "PACK_SEL" : 2,
  "TEST_MANAGERS":[
    { "MANAGER_OPTIONS":"tests/libs/fileSys.ctl -n" },
    { "MANAGER_OPTIONS":"tests/libs/classes/FileSys/QgDir.ctl -n" },
    { "MANAGER_OPTIONS":"tests/libs/classes/Variables/Float.ctl -n" },
    { "MANAGER_OPTIONS":"tests/libs/classes/QualityGates/Qg.ctl -n" },
    { "MANAGER_OPTIONS":"tests/libs/classes/Math/Math.ctl -n" }
  ]
}