name: CI

on:
  push:
    branches: [ "main", "release/*" ]
#    tags: ["v*"]
  pull_request:
    branches: [ "main", "release/*" ]
  release:
    types: [published]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Windows MSVC",
            artifact: "bin/ctrlppcheck.exe",
            os: windows-latest,
            cc: "cl", cxx: "cl"
          }
        - {
            name: "Linux GCC-12 (Debian 12-like)",
            artifact: "bin/ctrlppcheck",
            os: ubuntu-24.04,
            cc: "gcc-12", cxx: "g++-12"
          }

    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ${{ matrix.config.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Setup Ninja
      uses: seanmiddleditch/gha-setup-ninja@v5

    - name: Setup MSVC environment
      if: runner.os == 'Windows'
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Install Linux dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-12 g++-12

    - name: Configure CMake (Windows)
      if: runner.os == 'Windows'
      env:
        CC: ${{ matrix.config.cc }}
        CXX: ${{ matrix.config.cxx }}
      shell: pwsh
      run: |
        cmake -S ctrlppcheck -B "${{ github.workspace }}/build" -G Ninja -D CMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} -D USE_MATCHCOMPILER=Off

    - name: Configure CMake (Linux)
      if: runner.os == 'Linux'
      env:
        CC: ${{ matrix.config.cc }}
        CXX: ${{ matrix.config.cxx }}
      shell: bash
      run: |
        cmake -S ctrlppcheck -B "${{ github.workspace }}/build" \
          -G Ninja \
          -D CMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} \
          -D USE_MATCHCOMPILER=Off

    - name: Build
      run: cmake --build ${{ github.workspace }}/build --config ${{ env.BUILD_TYPE }}

    # no ctest tests for modified cppcheck, they were just thrown away
    #- name: Test
    #  working-directory: ${{github.workspace}}/build
    #  # Execute tests defined by the CMake configuration.  
    #  # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
    #  run: ctest -C ${{env.BUILD_TYPE}}
      
    - name: Upload ctrlppcheck
      uses: actions/upload-artifact@v6
      with:
        name: ctrlppcheck-${{ matrix.config.os }}
        path: ${{github.workspace}}/build/${{ matrix.config.artifact }}

  package:
    name: Package project and binaries
    runs-on: ubuntu-22.04
    needs: build

    steps:
    - uses: actions/checkout@v4

    - name: Prepare file structure and project
      run: |
        mkdir -p ${{github.workspace}}/install/WinCCOA_QualityChecks/bin/ctrlppcheck
        cp -rp ${{github.workspace}}/WinCCOA_QualityChecks/* ${{github.workspace}}/install/WinCCOA_QualityChecks/

    - name: Download ctrlppcheck binaries
      uses: actions/download-artifact@v7
      with:
        pattern: ctrlppcheck-*
        merge-multiple: true
        path: ${{github.workspace}}/install/WinCCOA_QualityChecks/bin/ctrlppcheck/

    - name: Upload WinCCOA_QualityChecks
      uses: actions/upload-artifact@v6
      with:
        name: WinCCOA_QualityChecks
        path: ${{github.workspace}}/install/*

  release:
    if: github.event_name == 'release'
    name: Release
    runs-on: ubuntu-22.04
    needs: package
    steps:

    - name: Get the version
      id: get_version
      run: echo "VERSION=$(echo $GITHUB_REF | cut -d / -f 3)" >> $GITHUB_OUTPUT

    - name: Download artifact
      uses: actions/download-artifact@v7
      with:
        name: WinCCOA_QualityChecks
        path: ${{github.workspace}}/install/

    - name: Add x bit to Linux binary
      run: |
        chmod +x ${{ github.workspace }}/install/WinCCOA_QualityChecks/bin/ctrlppcheck/ctrlppcheck

    - name: Zip Folder
      run: cd ${{ github.workspace }}/install/ && zip -r ${{ github.workspace }}/WinCCOA_QualityChecks_${{ github.event.release.tag_name }}.zip *

    - name: Upload to Release
      id: upload_to_release
      uses: softprops/action-gh-release@v1
      with:
        files: WinCCOA_QualityChecks_${{ github.event.release.tag_name }}.zip
