name: CI

on:
  push:
    branches: [ "main", "release/*" , "feature/*"]
#    tags: ["v*"]
  pull_request:
    branches: [ "main", "release/*" ]
  release:
    types: [published]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  # for JamesIves/github-pages-deploy-action@v4
  #contents: write
  #pages: write
  #id-token: write
  # for jUnit report
  checks: write

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Windows MSVC",
            artifact: "bin/ctrlppcheck.exe",
            os: windows-latest,
            cc: "cl", cxx: "cl"
          }
        - {
            name: "Linux GCC-12 (Debian 12-like)",
            artifact: "bin/ctrlppcheck",
            os: ubuntu-24.04,
            cc: "gcc-12", cxx: "g++-12"
          }

    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ${{ matrix.config.os }}

    steps:
    - uses: actions/checkout@v6

    - name: Setup Ninja
      uses: seanmiddleditch/gha-setup-ninja@v6

    - name: Setup MSVC environment
      if: runner.os == 'Windows'
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Install Linux dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-12 g++-12

    - name: Configure CMake (Windows)
      if: runner.os == 'Windows'
      env:
        CC: ${{ matrix.config.cc }}
        CXX: ${{ matrix.config.cxx }}
      shell: pwsh
      run: |
        cmake -S ctrlppcheck -B "${{ github.workspace }}/build" -G Ninja -D CMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} -D USE_MATCHCOMPILER=Off

    - name: Configure CMake (Linux)
      if: runner.os == 'Linux'
      env:
        CC: ${{ matrix.config.cc }}
        CXX: ${{ matrix.config.cxx }}
      shell: bash
      run: |
        cmake -S ctrlppcheck -B "${{ github.workspace }}/build" \
          -G Ninja \
          -D CMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} \
          -D USE_MATCHCOMPILER=Off

    - name: Build
      run: cmake --build ${{ github.workspace }}/build --config ${{ env.BUILD_TYPE }}


    - name: Upload ctrlppcheck
      uses: actions/upload-artifact@v6
      with:
        name: ctrlppcheck-${{ matrix.config.os }}
        path: ${{github.workspace}}/build/${{ matrix.config.artifact }}

  buildHelp:
    name: Build help
    runs-on: ubuntu-20.04
    container:
        image: mpokornyetm/winccoa:v3.19.8-full
        options: --user root
        credentials:
           username: mpokornyetm
           password: Katopeso1#
    steps:
      - name: Install doxygen
        working-directory: /opt/WinCC_OA/3.19/bin/
        run: |
          apt-get update
          apt-get --assume-yes install -f doxygen graphviz

      - uses: actions/checkout@v1
      - name: Register Project
        working-directory: ${{github.workspace}}/WinCCOA_QualityChecks/
        run: |
          cwd=$(pwd)
  
          mkdir -p $cwd/config
          cd $cwd/config
  
          echo "[general]
          pvss_path = \"/opt/WinCC_OA/3.19\"
          proj_path = \"$cwd\"
          proj_version = \"3.19\"
          langs = \"en_US.utf8\"
          pmonPort = 5999
          " > config
  
          mkdir -p $cwd/log
  
          /opt/WinCC_OA/3.19/bin/WCCILpmon -config $cwd/config/config -n -autofreg -status  -log +stderr || true
  
      - name: Generate help
        working-directory: /opt/WinCC_OA/3.19/bin/
        run: |
          ./WCCOActrl -proj WinCCOA_QualityChecks -n doxygen.ctl -log +stderr -lang en_US.utf8

      - name: Upload html help
        uses: actions/upload-artifact@v3
        with:
          name: html-help
          path: ${{github.workspace}}/WinCCOA_QualityChecks/help/html/*

      - name: Upload QT help
        uses: actions/upload-artifact@v3
        with:
          name: qt-help
          path: ${{github.workspace}}/WinCCOA_QualityChecks/help/html/index.qch

  package:
    name: Package project and binaries
    runs-on: ubuntu-22.04
    needs: build

    steps:
    - uses: actions/checkout@v6

    - name: Prepare file structure and project
      run: |
        mkdir -p ${{github.workspace}}/install/WinCCOA_QualityChecks/bin/ctrlppcheck
        cp -rp ${{github.workspace}}/WinCCOA_QualityChecks/* ${{github.workspace}}/install/WinCCOA_QualityChecks/
        mkdir -p ${{github.workspace}}/tests/WinCC_OA_Test/
        cp -rp ${{github.workspace}}/WinCC_OA_Test/* ${{github.workspace}}/tests/WinCC_OA_Test/
        mkdir -p ${{github.workspace}}/install/WinCCOA_QualityChecks/help

    - name: Download ctrlppcheck binaries
      uses: actions/download-artifact@v7
      with:
        pattern: ctrlppcheck-*
        merge-multiple: true
        path: ${{github.workspace}}/install/WinCCOA_QualityChecks/bin/ctrlppcheck/

    - name: Add x bit to Linux binary
      run: |
        chmod +x ${{github.workspace}}/install/WinCCOA_QualityChecks/bin/ctrlppcheck/ctrlppcheck

    - name: Download help
      uses: actions/download-artifact@v3
      with:
        name: qt-help
        path: ${{github.workspace}}/install/WinCCOA_QualityChecks/help/index.qch

    - name: Upload WinCCOA_QualityChecks
      uses: actions/upload-artifact@v6
      with:
        name: WinCCOA_QualityChecks
        path: ${{github.workspace}}/install/*

    - name: Upload WinCC_OA_Test
      uses: actions/upload-artifact@v3
      with:
        name: WinCC_OA_Test
        path: ${{github.workspace}}/tests/*

  tests:
    name: WinCC OA tests
    runs-on: ubuntu-20.04
    container:
        image: mpokornyetm/winccoa:v3.19.8-full
        options: --user root
        credentials:
           username: mpokornyetm
           password: Katopeso1#
    needs: [build, package]

    steps:
    - name: Print WinCC OA version
      shell: bash
      run: |
        /opt/WinCC_OA/3.19/bin/WCCOActrl -version || true

    - name: Download WinCCOA_QualityChecks package
      uses: actions/download-artifact@v3
      with:
        name: WinCCOA_QualityChecks
        path: ${{github.workspace}}/

    - name: Download WinCC_OA_Test
      uses: actions/download-artifact@v3
      with:
        name: WinCC_OA_Test
        path: ${{github.workspace}}/

    - name: 'Echo download path'
      run: echo ${{steps.download.outputs.download-path}}

    - name: Register Ctrl TestFramework
      working-directory: ${{github.workspace}}/WinCC_OA_Test/
      run: |
        cwd=$(pwd)
        echo my token:${{ secrets.DOCKER_CONTAINER_REGISTRY_TOKEN }}
        mkdir -p $cwd/Projects/TfCustomizedQG/config
        cd $cwd/Projects/TfCustomizedQG/config

        echo "[general]
        pvss_path = \"/opt/WinCC_OA/3.19\"
        proj_path = \"/opt/WinCC_OA/3.19/TestFramework_3.19\"
        proj_path = \"$cwd/Projects/Global\"
        proj_path = \"$cwd/Projects/TfCustomizedQG\"
        proj_version = \"3.19\"
        langs = \"de_AT.utf8\"
        langs = \"en_US.utf8\"
        pmonPort = 5999
        [testFramework]
        installPath = \"$cwd/\"
        " > config

        mkdir -p $$cwd/Projects/TfCustomizedQG/log

        /opt/WinCC_OA/3.19/bin/WCCILpmon -config $cwd/Projects/TfCustomizedQG/config/config -n -autofreg -status  -log +stderr || true

    - name: Add x bit to Linux binary
      run: |
        chmod +x /__w/CtrlppCheck/CtrlppCheck/WinCCOA_QualityChecks/bin/ctrlppcheck/ctrlppcheck

    - name: Start WinCC OA tests
      working-directory: /opt/WinCC_OA/3.19/bin/
      run: |
        echo ****** Execute WinCC OA Tests
        ./WCCOActrl -proj TfCustomizedQG -n testRunner.ctl {\'testRunId\':\'Regression-tests\',\'registerGlobalProject\':true,\'registerAllTools\':true,\'registerAllTemplates\':true,\'showLogViewer\':false,\'TfTestManager.checkForPossibleFreezeTests\':true} -log +stderr -lang en_US.utf8

    - name: Convert WinCC OA tests to jUnit
      working-directory: /opt/WinCC_OA/3.19/bin/
      run: |
        echo ****** Convert results into jUnit format
        ./WCCOActrl -proj TfCustomizedQG -n oaTestParsers/jsonToJUnit.ctl -log +stderr -lang en_US.utf8

    - name: Publish Failed projects
      uses: actions/upload-artifact@v3
      with:
        name: failed-test-projects
        path: /__w/CtrlppCheck/CtrlppCheck/WinCC_OA_Test/Projects/Stored/Failed/
        if-no-files-found: ignore # #error', 'warn' or 'ignore' are also available, defaults to `warn`

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v4
      with:
        fail_on_failure : true
        require_tests : true
        report_paths : /__w/CtrlppCheck/CtrlppCheck/WinCC_OA_Test/Results/jUnit*.xml
        detailed_summary : true

  release:
    if: github.event_name == 'release'
    name: Release
    runs-on: ubuntu-22.04
    needs: package
    steps:

    - name: Get the version
      id: get_version
      run: echo "VERSION=$(echo $GITHUB_REF | cut -d / -f 3)" >> $GITHUB_OUTPUT

    - name: Download artifact
      uses: actions/download-artifact@v7
      with:
        name: WinCCOA_QualityChecks
        path: ${{github.workspace}}/install/

    - name: Zip Folder
      run: cd ${{ github.workspace }}/install/ && zip -r ${{ github.workspace }}/WinCCOA_QualityChecks_${{ github.event.release.tag_name }}.zip *

    - name: Upload to Release
      id: upload_to_release
      uses: softprops/action-gh-release@v2
      with:
        files: WinCCOA_QualityChecks_${{ github.event.release.tag_name }}.zip

  
#  publish-help:
## !! TODO enable it only on release
#   # if: github.event_name == 'release'
#    name: Publish help
#    runs-on: ubuntu-latest
#    needs: tests
#    steps:
#      - name: Download help
#        uses: actions/download-artifact@v3
#        with:
#          name: html-help
#          path: ${{github.workspace}}/docs/

#      - name: Create .nojekyll (ensures pages with underscores work on gh pages)
#        run: touch ./docs/.nojekyll
#        shell: bash

#      - name: Publish GitHub pages help
#        uses: JamesIves/github-pages-deploy-action@v4
#        with:
#          folder: ./docs/
